drop table if exists %martSchema%.TEMP300, %martSchema%.TEMP303, %martSchema%.TEMP304, %martSchema%.TEMP306, %martSchema%.TEMP310, %martSchema%.TEMP314, %martSchema%.TEMP316, %martSchema%.TEMP320, %martSchema%.TEMP324, %martSchema%.TEMP325, %martSchema%.%dataSet%__paralog_%speciesTld%__dm, %martSchema%.para_TEMP;
create table %martSchema%.TEMP300 as select a.species_set_id as species_set_id_4019,a.method_link_id as method_link_id_4019,a.method_link_species_set_id as method_link_species_set_id_4019 from %srcSchema%.method_link_species_set as a where a.method_link_species_set_id='%method_link_species_set_id%';
create index %indexName% on %martSchema%.TEMP300(method_link_species_set_id_4019);
create table %martSchema%.TEMP303 as select a.*,b.ds as ds_4014,b.dn as dn_4014,b.subtype as subtype_4014,b.homology_id as homology_id_4014 from %martSchema%.TEMP300 as a inner join %srcSchema%.homology as b on a.method_link_species_set_id_4019=b.method_link_species_set_id;
drop table %martSchema%.TEMP300;
create index %indexName% on %martSchema%.TEMP303(homology_id_4014);
create table %martSchema%.TEMP304 as select a.*,b.peptide_member_id as peptide_member_id_4015,b.member_id as member_id_4015,b.perc_cov as perc_cov_4015,b.peptide_align_feature_id as peptide_align_feature_id_4015,b.perc_id as perc_id_4015 from %martSchema%.TEMP303 as a inner join %srcSchema%.homology_member as b on a.homology_id_4014=b.homology_id;
drop table %martSchema%.TEMP303;
create index %indexName% on %martSchema%.TEMP304(member_id_4015);
create table %martSchema%.TEMP306 as select a.*,b.stable_id as stable_id_4016,b.genome_db_id as genome_db_id_4016,b.sequence_id as sequence_id_4016 from %martSchema%.TEMP304 as a inner join %srcSchema%.member as b on a.member_id_4015=b.member_id;
drop table %martSchema%.TEMP304;
create index %indexName% on %martSchema%.TEMP306(peptide_member_id_4015);
create table %martSchema%.TEMP310 as select a.*,b.stable_id as stable_id_4016_r1,b.genome_db_id as genome_db_id_4016_r1,b.sequence_id as sequence_id_4016_r1 from %martSchema%.TEMP306 as a inner join %srcSchema%.member as b on a.peptide_member_id_4015=b.member_id;
drop table %martSchema%.TEMP306;
create index %indexName% on %martSchema%.TEMP310(homology_id_4014);
create table %martSchema%.TEMP314 as select a.*,b.peptide_member_id as peptide_member_id_4015_r1,b.member_id as member_id_4015_r1,b.perc_cov as perc_cov_4015_r1,b.peptide_align_feature_id as peptide_align_feature_id_4015_r1,b.perc_id as perc_id_4015_r1 from %martSchema%.TEMP310 as a inner join %srcSchema%.homology_member as b on a.homology_id_4014=b.homology_id and a.member_id_4015<>b.member_id;
drop table %martSchema%.TEMP310;
create index %indexName% on %martSchema%.TEMP314(member_id_4015_r1);
create table %martSchema%.TEMP316 as select a.*,b.chr_start as chr_start_4016_r2,b.stable_id as stable_id_4016_r2,b.chr_name as chr_name_4016_r2,b.chr_end as chr_end_4016_r2,b.genome_db_id as genome_db_id_4016_r2,b.sequence_id as sequence_id_4016_r2 from %martSchema%.TEMP314 as a inner join %srcSchema%.member as b on a.member_id_4015_r1=b.member_id;
drop table %martSchema%.TEMP314;
create index %indexName% on %martSchema%.TEMP316(peptide_member_id_4015_r1);
create table %martSchema%.TEMP320 as select a.*,b.stable_id as stable_id_4016_r3,b.genome_db_id as genome_db_id_4016_r3,b.sequence_id as sequence_id_4016_r3 from %martSchema%.TEMP316 as a inner join %srcSchema%.member as b on a.peptide_member_id_4015_r1=b.member_id;
drop table %martSchema%.TEMP316;
create index %indexName% on %martSchema%.TEMP320(stable_id_4016);
create table %martSchema%.TEMP324 as select a.*,b.gene_id_1020_key from %martSchema%.TEMP320 as a inner join %martSchema%.%dataSet%__gene__main as b on a.stable_id_4016=b.stable_id_1023;
drop table %martSchema%.TEMP320;
create index %indexName% on %martSchema%.TEMP324(gene_id_1020_key);
create table %martSchema%.TEMP325 as select a.gene_id_1020_key,b.genome_db_id_4016_r3,b.chr_name_4016_r2,b.homology_id_4014,b.stable_id_4016,b.stable_id_4016_r3,b.peptide_member_id_4015,b.genome_db_id_4016,b.peptide_align_feature_id_4015,b.subtype_4014,b.perc_cov_4015_r1,b.peptide_member_id_4015_r1,b.sequence_id_4016_r2,b.perc_id_4015_r1,b.stable_id_4016_r2,b.ds_4014,b.genome_db_id_4016_r1,b.peptide_align_feature_id_4015_r1,b.sequence_id_4016_r3,b.chr_start_4016_r2,b.perc_id_4015,b.sequence_id_4016,b.genome_db_id_4016_r2,b.sequence_id_4016_r1,b.chr_end_4016_r2,b.member_id_4015_r1,b.member_id_4015,b.perc_cov_4015,b.species_set_id_4019,b.method_link_species_set_id_4019,b.stable_id_4016_r1,b.dn_4014,b.method_link_id_4019 from %martSchema%.%dataSet%__gene__main as a left join %martSchema%.TEMP324 as b on a.gene_id_1020_key=b.gene_id_1020_key;
drop table %martSchema%.TEMP324;
alter table %martSchema%.TEMP325 drop column genome_db_id_4016_r3;
alter table %martSchema%.TEMP325 drop column homology_id_4014;
alter table %martSchema%.TEMP325 drop column peptide_member_id_4015;
alter table %martSchema%.TEMP325 drop column genome_db_id_4016;
alter table %martSchema%.TEMP325 drop column peptide_align_feature_id_4015;
alter table %martSchema%.TEMP325 drop column peptide_member_id_4015_r1;
alter table %martSchema%.TEMP325 drop column sequence_id_4016_r2;
alter table %martSchema%.TEMP325 drop column genome_db_id_4016_r1;
alter table %martSchema%.TEMP325 drop column peptide_align_feature_id_4015_r1;
alter table %martSchema%.TEMP325 drop column sequence_id_4016_r3;
alter table %martSchema%.TEMP325 drop column sequence_id_4016;
alter table %martSchema%.TEMP325 drop column genome_db_id_4016_r2;
alter table %martSchema%.TEMP325 drop column sequence_id_4016_r1;
alter table %martSchema%.TEMP325 drop column member_id_4015_r1;
alter table %martSchema%.TEMP325 drop column member_id_4015;
alter table %martSchema%.TEMP325 drop column species_set_id_4019;
alter table %martSchema%.TEMP325 drop column method_link_species_set_id_4019;
alter table %martSchema%.TEMP325 drop column method_link_id_4019;
create index %indexName% on %martSchema%.TEMP325(stable_id_4016);
create index %indexName% on %martSchema%.TEMP325(stable_id_4016_r3);
create index %indexName% on %martSchema%.TEMP325(stable_id_4016_r2);
create index %indexName% on %martSchema%.TEMP325(stable_id_4016_r1);
rename table %martSchema%.TEMP325 to %martSchema%.%dataSet%__paralog_%speciesTld%__dm;

alter table %martSchema%.%dataSet%__gene__main add column (paralog_%speciesTld%_bool integer default 0);

create table %martSchema%.para_TEMP as select a.gene_id_1020_key from %martSchema%.%dataSet%__paralog_%speciesTld%__dm b, plant_mart_3.alyrata_eg_gene__gene__main a where a.gene_id_1020_key=b.gene_id_1020_key and not (b.chr_name_4016_r2 is null and b.stable_id_4016 is null and b.stable_id_4016_r3 is null and b.subtype_4014 is null and b.perc_cov_4015_r1 is null and b.perc_id_4015_r1 is null and b.stable_id_4016_r2 is null and b.ds_4014 is null and b.chr_start_4016_r2 is null and b.perc_id_4015 is null and b.chr_end_4016_r2 is null and b.perc_cov_4015 is null and b.stable_id_4016_r1 is null and b.dn_4014 is null);

update %martSchema%.%dataSet%__gene__main g join %martSchema%.%dataSet%__paralog_%speciesTld%__dm p using (gene_id_1020_key) set g.paralog_%speciesTld%_bool=1; 
create index %indexName% on %martSchema%.%dataSet%__gene__main(paralog_%speciesTld%_bool);

alter table %martSchema%.%dataSet%__transcript__main add column (paralog_%speciesTld%_bool integer default 0);
update %martSchema%.%dataSet%__transcript__main a join %martSchema%.para_TEMP using (gene_id_1020_key) set paralog_%speciesTld%_bool=1;

alter table %martSchema%.%dataSet%__translation__main add column (paralog_%speciesTld%_bool integer default 0);
update %martSchema%.%dataSet%__translation__main a join %martSchema%.para_TEMP using (gene_id_1020_key) set paralog_%speciesTld%_bool=1;

drop table %martSchema%.para_TEMP;


